@charset "UTF-8";

/*
em HTML é id e em CSS é "#"(Só pode 1 elemento)
em HTML é class e em CSS é "."(Pode vários elementos)
*/


body{
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(4, 109, 0);
}

h1#principal{
    text-align: center;
    color: white;
    background-color:rgb(4, 109, 0) ;
}

h2{
    color: rgb(51, 77, 49);
}

.basico{
    color:rgb(51, 77, 49);
}

.intermediario{
    color: rgb(121, 122, 14);
}

.avancado{
    color: rgb(122, 11, 11);
}

.destaque{
    background-color: rgba(197, 197, 96, 0.438);
}

